<footer class="footer">
	 <div class= "col-md-12 footerStyle newsLetter">
		<div class= "col-md-2"></div>
		<div class= "col-md-5">
			<h5 class="footerStyle"><b>BE ALWAYS UPDATE WITH US. SIGN IN WITH OUR NEWS LETTER</b></h5>
		</div>
		<div class= "col-md-3">
			<form name="newsLetterSubscribeForm" >
				<input type="text" class="form-control newsLetterinput" id="txtEmail_EmailId" ng-model="details.emailId"><button class="button newsLetterSubmitbutton">GO</button>
				<!-- <i class="fa fa-arrow-right" aria-hidden="true"> -->
			</form>
		</div>
		<div class= "col-md-2"></div>	
	</div>
	
	 <div class="col-md-12 newsletterbody">
		<div class="col-md-4">
			<h3 class="newsLetter newsletterbody footerbodyContent"><b> About Eat5</b></h3>
			<p class= "newsLetter newsletterbody footerbodyContent">
				Today you are going to be a join interview.This is your dream job, which you have been
				targeting for last few years.Business collaboration team work and aggrement flat icon set isolated 
				vector illustartion. Available in high-resoultion and several sizes to fit the need	of your project.
			</p>
		
		</div>
		<div class="col-md-4">
			<h3 class="newsLetter newsletterbody footerbodyContent"><b> Latest News</b></h3>
			<p class= "newsLetter newsletterbody footerbodyContent">
				Today you are going to be a join interview.This is your dream job, which you have been
				targeting for last few years.Business collaboration team work and aggrement flat icon set isolated 
				vector illustartion. Available in high-resoultion and several sizes to fit the need	of your project.
			</p>
		
		</div>
		<div class="col-md-4">
			<h3 class="newsLetter newsletterbody footerbodyContent"><b> Company</b></h3>
			<h5 class="newsletterbody footerbodyContent">About Us</h5>
			<h5 class="newsletterbody footerbodyContent">Career</h5>
			<h5 class="newsletterbody footerbodyContent">Menu</h5>
			<h5 class="newsletterbody footerbodyContent">Blog</h5>
		</div>
	</div>
	
	<div class="col-md-12 footerStyle">
		<div class= "col-md-4"></div>
		<div class= "col-md-4">
			<h6 class="footerStyle">Copyright &copy; 2016 . Eat 5 privacy policy Policy</h6>
		</div>
		<div class= "col-md-4"></div>
	</div> 
</footer>
